
//css main
:root{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    line-height: 1.5em; 
    text-align: center;
}
fieldset{
    border: 0;
}

.login{
    margin: auto;
    display:flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    line-height: 2em;   
    legend{
        font-weight: 800;
        font-size:1.1em;
    }
}
.coffeeInfo{
    display:flex;
    flex-flow: column;
    line-height: 2em;   
    background-color: lightcyan;
    legend{
        font-weight: 800;
        font-size:1.1em;
    }
}

#title{
    color: rgb(255, 188, 117);
}

#description{
    color: green;
}

#survey-form{
    color: rebeccapurple
}

#dropdown{
    color: orangered;
}
#submit{
    &:hover{

    }
    &:active{

    }
}


/*form info
#name{

}
#email{

}
#number{

}

****below add some approval
div {
  margin-bottom: 10px;
}

input:invalid+span:after {
  content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  content: '✓';
  padding-left: 5px;
}

*/