//css main
$oneColor: #0e4d6c;
$threeColor: #f05833;
$darkColor: #2c4653;
$lightColor: #e9ddc7;

:root {
  font-family: "Merriweather", serif;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

#title {
  width: auto;
  height: auto;
  padding: 0.5em 0.5em;
  color: $threeColor;
  background-color: $darkColor;
  font-size: 2em;
  font-family: "Dancing Script", cursive;
}
#description {
  width: auto;
  height: auto;
  padding: 1em;
  background-color: $darkColor;
  color: $lightColor;
}

/*
***  Creating the background  Card***
*/
.coffeeInfo {
  display: flex;
  flex-flow: column;
  justify-content: center;
  line-height: 2em;
  background-color: $threeColor;
  padding: 0em 1em;
  &__card {
    margin: 5%;
    padding: 3em;
    border-radius: 10px;
    background-color: $lightColor;
  }
}
/*
***  working on the form part ***
*/

#survey-form {
  font-size: 1.2em;
}

#dropdown {
  font-size: 1em;
}

#textArea {
  width: 75%;
  height: 5em;
}

/* 
***Creating the submittion button ***
*/
#submit {
  font-size: 1.2em;
  margin: 1em;
  padding: 0.5em 1em;
  background: $oneColor;
  color: #d2d2d2;
  border-radius: 5px;
  outline: none;
  &:hover {
    background: #0e4d6ccc;
    color: #d2d2d2;
  }
  &:active {
    background: #1a7cadcc;
    color: #d9edff;
    border: none;
    box-shadow: 2px 3px 3px $oneColor;
  }
}
